---
import Layout from "../layouts/Layout.astro";
import Btns from "../components/Btns";
---

<Layout title="Welcome to Astro.">
  <div class="flex h-[100vh] w-full flex-col justify-center items-center">
    <h1 class="text-2xl mb-4">Some text</h1>
    <Btns client:load />
  </div>
</Layout>
